*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

image {
  width: 100%;
  height: 50px;
}

ul {
  list-style: none;
}

.App > div{
  position: absolute;
  left: 0;
  right: 0;
}

.lightFont {
  color: rgba(128, 128, 128, 0.5);
}